.successArt {
    margin-top: 50px;
    font-size: 130%;
    font-style: italic;
    color: green;
    text-align: center;
  }

  input[type='file'] {
    color: transparent;
  }

.titleEditProf {
    font-family:"Helvetica", "Arial", sans-serif;
    text-align: center;
    background: blue;
    padding: 20px;
    width: 80%;
    border-radius: 25px;
    margin:auto;
    
}

.profh1 {
  color: black;
  
}


.profLabel {
  display: inline-block;
  margin-right: 20px;
  font-size: 130%;
  color: black;
  width: 170px;
}


.DescriptionLabel {
  float: left;
  margin-right: 14px;
  color: black;
  font-size: 130%;
  width: 170px;
}


.profile-Pic{
    flex-direction: column;
    display: inline-flex;
    float: right;
    margin-right: 100px;
}
.ite{
  max-width: 700px;
  margin-bottom: 10px;
}


.change-Profile-Picture{
    margin-left: auto;
    margin-right: auto;
}


.song-in-gallery{
  margin-left: 1%;
  margin-bottom: 1%;
}
.trash-icon-sample{
  font-size: 200%;
  margin-left: 1%;
  margin-bottom: 0.5%;
  cursor: pointer;
}
.trash-icon-sample:hover{
  color:#3a57af;
}




