*{
  font-family: sans-serif;
}

.login-p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}


.testbox-login {
  margin: 20px auto;
  width: 343px; 
  height: 464px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #5680E9; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #5680E9;
  box-sizing:border-box;
  
}

input[type=radio] {
  visibility: hidden;
}

.login-form{
  margin: 0 30px;
}


hr{
  color: #8860D0;
  opacity: 0.3;
}
.input-login , .input-password-login{
  width: 200px; 
  height: 35px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}


.bottom-text{
   padding-top: 80px;
}
.big-title{
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 350%;
  color: #222;
  text-align: center;
}
.small-title{
  font-weight: bold;
  padding-top: 30px;
  font-size: 200%;
  color: #222;
  text-align: center;
  margin-bottom: 10px;
}

.submitButton {
  font-size: 17px;
  text-align: center;
  color: white;
  padding: 6px 25px 0px 20px;
  text-decoration: none;
  width: 110px; height: 30px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  position: relative;
}

.submitButton:hover {
  top: 3px;
  background-color:#8860D0;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  cursor: pointer;
  
}

.alertWarning {
  margin-top: 50px;
  font-size: 130%;
  font-family: sans-serif;
  color: red;
  text-align: center;
}
