.postInFeed{
    height: 500px;
    border:1px solid black;
    width: 80%;
    margin : 40px auto; 
    border-radius: 2%;
    background-color: white;
}
.left-of-post{
    height: 100%;
    width: 50%;
    float: left;

}
.right-of-post{
    height: 100%;
    width: 50%;
    float: right;
}
.title-post{
    height: 10%;
}
.h1Title{
    margin-left: 20%;
    margin-top: 30px;
    color: black;
}
.profPicInPost{
    border-radius: 50px;
    width: auto;
    height:auto;
    max-height: 100%;
    max-width: 100%;
}
.imgDivPic{
    height: 70%;
    margin-left: 10px;
}
.view-profile-div-post{
    height: 14%;
}

.post-detail-info{
    height: 10%;
    margin-top: 5px;
    width: 100%;
    font-size: 120%;
}
.post-info-response{
    width: 50%;
    float: right;
}
.post-decription-info{
    height: 30%;
    width: 100%;
    font-size: 120%;
}
.post-decription-response{
    font-size: 90%;
    height: 80%;
    width: 100%;
}

.submit-app-div-post{
    height: 10%;
    
}

.submitButton-post {
    margin-left: 20%;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 6px 25px 0px 20px;
    text-decoration: none;
    width: 250px; height: 40px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #3a57af; 
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
    -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s; 
    position: relative;
  }
  
  .submitButton-post:hover {
    top: 3px;
    background-color:#8860D0;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none;
    cursor: pointer;
  }
  .submitButton-post-clicked{
    margin-left: 20%;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 6px 25px 0px 20px;
    text-decoration: none;
    width: 250px; height: 40px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: green; 
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
    -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s; 
    position: relative;
  }
  .submitButton-post-clicked:hover {
    top: 3px;
    background-color:red;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none;
    cursor: pointer;
  }

  .view-profile-button-post {
    font-size: 17px;
    text-align: center;
    color: white;
    padding: 6px 25px 0px 20px;
    text-decoration: none;
    width: 150px; height: 30px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #3a57af; 
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
    -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s; 
    position: relative;
    margin-left: 100px;
    margin-top: 10px;
  }
  
  .view-profile-button-post:hover {
    top: 3px;
    background-color:#8860D0;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none;
    cursor: pointer;

  }
  
