.config{
    max-width: 8%;
    padding: 15px 32px;
    float: right;
}

.post{
    max-width: 12%;
    padding: 15px 32px;
    float: left;
}

.div1{
    width: 1400px;
    height: 250px
}
.div2{
    width: 1400px;
    height: 100px
}
.div3{
    width: 1400px;
    height: 400px
}





